:root {
  --orange: rgba(240, 137, 34, 1);
  --orangehover: rgb(255, 141, 26);
  --schwarz: rgba(0, 15, 23, 1);
  --dunkelgrau: rgba(162, 165, 166, 1);
  --hellgrau: rgba(223, 230, 235, 1);
  --dunkelblaumatt: rgba(18, 93, 137, 1);
  --dunkelblaugesaettigt: rgba(0, 112, 178, 1);
  --hellblau: rgba(196, 234, 255, 1);
  --weiss: rgba(247, 252, 255, 1);
}

* {
  font-family: "Rubik", sans-serif;
  transition-duration: 300ms;
}

/* rubik-regular */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/rubik-v26-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/rubik-v26-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("./fonts/rubik-v26-latin-regular.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("./fonts/rubik-v26-latin-regular.woff") format("woff"), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("./fonts/rubik-v26-latin-regular.ttf") format("truetype"), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */ url("./fonts/rubik-v26-latin-regular.svg#Rubik") format("svg"); /* Legacy iOS */
}
/* rubik- medium */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/rubik-v26-latin-500.eot"); /* IE9 Compat Modes */
  src: url("./fonts/rubik-v26-latin-500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("./fonts/rubik-v26-latin-500.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("./fonts/rubik-v26-latin-500.woff") format("woff"), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("./fonts/rubik-v26-latin-500.ttf") format("truetype"), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */ url("./fonts/rubik-v26-latin-500.svg#Rubik") format("svg"); /* Legacy iOS */
}
/* rubik-semibold */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/rubik-v26-latin-600.eot"); /* IE9 Compat Modes */
  src: url("./fonts/rubik-v26-latin-600.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("./fonts/rubik-v26-latin-600.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("./fonts/rubik-v26-latin-600.woff") format("woff"), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */ url("./fonts/rubik-v26-latin-600.ttf") format("truetype"), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */ url("./fonts/rubik-v26-latin-600.svg#Rubik") format("svg"); /* Legacy iOS */
}

body {
  background-color: var(--weiss);
}

h1 {
  color: var(--weiss);
  font-weight: 600;
}

h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--dunkelblaugesaettigt);
  font-weight: 600;
}

.btn-primary {
  background-color: var(--orange);
  border: 0;
  border-radius: 50px;
  padding: 7px 20px;
}

.btn-primary:hover,
.btn-primar:active,
.btn-primary:focus-visible {
  background-color: var(--orangehover) !important;
}

a {
  color: var(--orange);
  font-weight: 500;
}

a:hover {
  color: var(--orangehover);
}

.nav-link {
  color: var(--schwarz);
}

nav .active-nav {
  color: var(--orange) !important;
  text-decoration: underline;
}

.navbar-toggler {
  border: 0px;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: unset;
  color: unset;
}

/* @media (min-width: 768px) {
  .nav-link {
    color: var(--schwarz);
    padding: 0px 25px !important;
  }
} */

footer ul li {
  list-style-type: none;
  padding-bottom: 0.5rem;
}

footer ul li a {
  text-decoration: none;
  font-weight: 400;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* ! Custom Farbklassen Text */
.text-weiss {
  color: var(--weiss);
}

.text-dunkelblaugesaettigt {
  color: var(--dunkelblaugesaettigt);
}
.text-dunkelblaumatt {
  color: var(--dunkelblaumatt);
}

.text-dunkelgrau {
  color: var(--dunkelgrau);
}

/* ! Custom Farbklassen Hintergrundfarben */
.bg-orange {
  background-color: var(--orange);
}
.bg-orange:hover {
  background-color: var(--orangehover);
}
.bg-schwarz {
  background-color: var(--schwarz);
}
.bg-dunkelgrau {
  background-color: var(--dunkelgrau);
}
.bg-hellgrau {
  background-color: var(--hellgrau);
}
.bg-dunkelblaumatt {
  background-color: var(--dunkelblaumatt);
}
.bg-dunkelblaugesaettigt {
  background-color: var(--dunkelblaugesaettigt);
}
.bg-hellblau {
  background-color: var(--hellblau);
}
.bg-weiss {
  background-color: var(--weiss);
}

/* ! Slider => Link Bild anpassen */
.slider-img {
  display: block;
  height: auto;
  width: 100%;
}

.carousel-control-prev-icon {
  background-image: url(../images_web/Link_Dreieck_orange.svg);
  transform: rotate(180deg);
}

.carousel-control-next-icon {
  background-image: url(../images_web/Link_Dreieck_orange.svg);
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
  width: 8%;
}

/* Linkkarten */

@media (min-width: 768px) {
  .linkkartentextlinks {
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .linkkartentextrechts {
    padding-left: 2rem;
  }
}

@media (max-width: 768px) {
  .linkkartenbild {
    margin-bottom: 3rem;
  }
}

.linkkarten a {
  display: block;
  padding: 10px 20px;
  margin-bottom: 0.5em;
  border-radius: 8px;
  text-decoration: none;
  border: 2px solid;
  color: var(--schwarz);
  font-weight: 400;
  max-width: 450px;
  overflow: hidden;
}

.linkkartentextlinks .linkkarten a {
  background-color: var(--weiss);
  border-color: var(--weiss);
}

.linkkartentextrechts .linkkarten a {
  background-color: var(--hellblau);
  border-color: var(--hellblau);
}

.linkkarten a::after {
  content: url(../images_web/Link_Dreieck_orange.svg);
  float: right;
  margin: 0 auto;
  position: relative;
}

.linkkarten a:hover {
  border: 2px solid;
  border-color: var(--orange);
}

/* .linkkarten a:hover:after {
  content: url(../images_web/Link_Dreieck_weiss.svg);
}

.linkkarten a:hover {
  background-color: var(--orange);
  color: var(--weiss);
  border-color: var(--orange);
} */

/* Öffnungszeiten / Preise Tabelle */
.tabelle p {
  margin-block-end: 0.4em;
}

/* .fw-bold {
  padding-top: 10px;
} */

/* Detailseiten Breadcrumbs */
.breadcrumb li a {
  font-weight: 400;
  text-decoration: none;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

/* Terminkalender */
.terminkalender p {
  margin-block-end: unset;
}

.terminkalender a,
.terminkalender a:hover {
  color: unset;
  text-decoration: unset;
  font-weight: unset;
  border: 2px solid;
  border-color: var(--hellblau);
}

.terminkalender a:hover {
  border-color: var(--orange);
}

.zeit:before,
.kalender:before,
.uhrzeit:before,
.preis:before {
  padding: 2px 8px 0px 0px;
}

.zeit:before {
  content: url(../images_web/icon_zeit.svg);
}

.kalender:before {
  content: url(../images_web/icon_kalender.svg);
}

.uhrzeit:before {
  content: url(../images_web/icon_uhrzeit.svg);
}

.preis:before {
  content: url(../images_web/icon_preis.svg);
}

.deactivated {
  cursor: not-allowed;
}

.deactivated .terminkalender p {
  margin-block-end: unset;
}

.deactivated,
.deactivated h1,
.deactivated h2,
.deactivated h3,
.deactivated h4,
.deactivated h5,
.deactivated h6
/* ,
.deactivaded .h1,
.deactivaded .h2,
.deactivaded .h3,
.deactivaded .h4,
.deactivaded .h5,
.deactivaded .h6  */ {
  color: var(--dunkelgrau) !important;
  background-color: var(--hellgrau);
}

.deactivated .zeit:before {
  content: url(../images_web/icon_zeit_grau.svg);
}

.deactivated .kalender:before {
  content: url(../images_web/icon_kalender_grau.svg);
}

.deactivated .uhrzeit:before {
  content: url(../images_web/icon_uhrzeit_grau.svg);
}

.deactivated .preis:before {
  content: url(../images_web/icon_preis_grau.svg);
}

/* Formular */
/* form h2,
form h3,
form h4,
form h5,
form h6 {
  color: var(--dunkelblaugesaettigt) !important;
} */

/* 
.wave-container {  
  height: 40vh;
  background-color: #ff0000;
  position: relative;
}

.wave-container::before {   
  content: "";
  width: 100%;
  height: 61px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 55vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  96' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 70L50 66C100 62 200 53 300 36C400 18 500 -7 600 1C700 10 800 53 900 70C1000 88 1100 79 1150 75L1200 70V96H1150C1100 96 1000 96 900 96C800 96 700 96 600 96C500 96 400 96 300 96C200 96 100 96 50 96H0V70Z' fill='%23FFF5EE'/></svg>");
}

@media(max-width:850px) {
  .wave-container::before {    
    height: 30.5px
  }  
} */

/* Hero */
.hero {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(18, 93, 137, 01), transparent);
  z-index: -1; /* Setzt den z-Index auf -1, damit das Pseudoelement hinter dem Text liegt */
}


/* Formular */
/* form label {
  font-weight: 600;
} */